{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <a href="{% url 'todo_update' todo_list.id%}">Edit</a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                </thead>
                <tbody>
                {% for item in todo_list.items.all %}
                <tr>
                    <td>{{item.task}}</td>
                    <td>{{item.due_date}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>

        </div>
    </main>

</body>
</html>
