{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
                <tbody>
                    {% for list in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'todo_detail' list.id %}">{{list.name}}</a></td>
                        <td></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <a href="{% url 'todo_create' %}">Create Todo List</a>
        </div>
    </main>

</body>
</html>
